﻿<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    @for (int i = 0; i < 5; i++)
    {
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <a class="nav-link" href="#" v-on:click="loadPage('controller @i', 'action @i')">
                <i class="fa fa-fw fa-dashboard"></i>
                <span class="nav-link-text">Dashboard @i</span>
            </a>
        </li>
    }
</ul>