﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Blank Page</li>
    </ol>
    <div class="row">
        <div class="col-12">
            <h1>Blank</h1>
            <p>This is an example of a blank page that you can use as a starting point for creating new ones.</p>
            @*<div id="app">
                <ul>
                    <todo-item v-for="item in groceryList"
                               v-bind:todo="item"
                               v-bind:key="item.Id">
                    </todo-item>
                </ul>
                <form v-on:submit="add" action="#" method="post" onsubmit="return false">

                    <input class="form-control" type="text" ref='title' v-model="title" />
                    <button class="btn btn-success" type="submit">Add</button>

                </form>
            </div>*@
        </div>
    </div>
</div>

@section scripts{

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        //Vue.component('todo-item', {
        //    props: ['todo'],
        //    template: '<li>{{ todo.Id }} {{ todo.Title }} <button  class="btn btn-success" v-on:click="xoa(todo.Id)">Delete</button></li>',
        //    methods: {
        //        xoa(id) {
        //            axios.delete('/api/fuckers/' + id)
        //                .then(function () {
        //                    axios.get('/api/fuckers')
        //                        .then(function (response) {
        //                            app7.groceryList = response.data;
        //                        })
        //                        .catch(function (error) {
        //                            console.log(error);
        //                        });
        //                });
        //        }
        //    }
        //})
        //var app7 = new Vue({
        //    el: '#app',
        //    data: {
        //        groceryList: [],
        //        title: ''
        //    },
        //    methods: {

        //        add: function () {
        //            axios.post('/api/fuckers', { Id: 0, Title: app7.title })
        //                .then(function (response) {
        //                    app7.groceryList.push(response.data);
        //                    app7.title = null;
        //                    app7.$refs.title.focus();
        //                });
        //        }
        //    },
        //    created: function () {
        //        axios.get('/api/fuckers')
        //            .then(function (response) {
        //                app7.groceryList = response.data;
        //            })
        //            .catch(function (error) {
        //                console.log(error);
        //            });
        //    }
        //})
    </script>
}